apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
  namespace: tori-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway-service
  template:
    metadata:
      labels:
        app: gateway-service
    spec:
      containers:
        - name: gateway-service
          image: 490866675691.dkr.ecr.ap-northeast-2.amazonaws.com/tori-app/gateway-service:latest
          ports:
            - containerPort: 8000
          env:
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: EUREKA_SERVER_URL
            - name: EUREKA_INSTANCE_PREFER_IP_ADDRESS
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: EUREKA_INSTANCE_PREFER_IP_ADDRESS
            - name: INQUIRY_SERVICE_URL
              value: "http://admin-service:8007"
            - name: FRONTEND_SERVICE_URL
              value: "http://frontend-service:8005"
          resources:
            requests:
              memory: "384Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            tcpSocket:
              port: 8000
            initialDelaySeconds: 120
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 5
          readinessProbe:
            tcpSocket:
              port: 8000
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  namespace: tori-app
spec:
  selector:
    app: gateway-service
  ports:
    - port: 8000
      targetPort: 8000
  type: ClusterIP